// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.top-bar{
    border-bottom: 1px solid #eaeaea;
  }
  .contact-info{
    font-size: 14px;
    font-weight: map-get($font-weight, medium);
    padding-top: 5px;
    & span{
      margin-left: 20px;
    }
  }
  
  .main-header{
    z-index: 9;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
  }
  
  .fix-header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
    & .main-header{
      padding: 5px 0px !important;
      box-shadow: 0 0 15px 1px rgba(0,0,0,.07);
    }
  }
  
  .logo_area{
    margin-top: 8px;
  }
  
  
  .navbar ul li{
    padding: 0px 10px;
    & a{
      font-size: 14px;
      font-weight: map-get($font-weight, bold);
      text-transform: uppercase;
      color: #000000;
    }
    & a:hover{
      color: $primary-color;
      text-decoration: none;
    }
    &.active a{
      color: $accent-color;
    }
  }
  .navbar ul li:last-child{
    padding-right: 0px;
  }
  /* Main navigation dropdown */
  .dropdown:hover .dropdown-menu{
    display: block;
  }
  .dropdown-menu{
    margin-top: 0;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.2);
    & li{
      padding: 0px 20px !important;
    }
    & li a{
      padding: 6px 0px;
      text-transform: none !important;
    }
    & li a:hover{
      background: transparent;
    }
  }
  
  .search-box{
    background: #ffffff;
    position: absolute;
    top: 54px;
    right: 0px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    display: none;
    &:before{
      content: "";
      position: absolute;
      top: -28px;
      right: 13px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 14px solid transparent;
      border-bottom: 14px solid $primary-color;
    }
    & input[type="text"]{
      width: 200px;
      padding: 5px 10px;
      margin-left: 15px;
      border: 1px solid $primary-color;
      outline: none;
      height: 32px;
    }
    & input[type="button"]{
      width: 80px;
      padding: 7px 0;
      background: $primary-color;
      color: #fff;
      font-weight: map-get($font-weight, bold);
      margin-left: -6px;
      border: 1px solid $primary-color;
      outline: none;
      cursor: pointer;
      &:hover{
        background: $accent-color;
      }
    }
  }
  .nav-item .fa-search{
    cursor: pointer;
  }
  .navbar-collapse .social-media-links{
      display: none;
  }
  .navbar-collapse.show .social-media-links{
    display: block;
}

  @media (max-width: map-get($breakpoints, large)){
      .top-bar .social-media-links{
        display: none;
    }
    .logo_area {
        margin-top: 0px;
      }
      .nav_area{
          position: relative;
      }
      .navbar-toggler{
          background-color: $primary-color;
          color: #ffffff;
      }
    .navbar-collapse{
        position: absolute;
        right: 0px;
        top: 60px;
        min-width: 300px;
        padding: 20px;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);
    }
    .search-box{
        top: auto;
    }
    .search-box:before{
        right: auto;
        left: 25px;
    }
  }