// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.social-media-links ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    & li{
        display: inline-block;
    }
    & li a{
        background-color: $light-grey-color;
        color: $dark-grey-color;
        border-radius: 50%;
        padding: 5px;
        font-size: 12px;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
    }
    & li a:hover{
        background-color: $primary-color;
        color: #ffffff;
    }
}

.btn-primary{
    border-radius: 0px;
    background-color: $primary-color;
    border-color: $primary-color;
    color: #ffffff;
    /*padding: 12px 40px;*/
    font-weight: map-get($font-weight, bold);
    &:hover, &:active{
        background-color: $accent-color;
        border-color: $accent-color;
        text-decoration: none;
    }
}

.btn-secondary{
    border-radius: 0px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #000000;
    /*padding: 12px 40px;*/
    font-weight: map-get($font-weight, bold);
    &:hover, &:active{
        background-color: $light-grey-color;
        border-color: $light-grey-color;
        text-decoration: none;
        color: #000000;
    }
}